
 .maincontainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
    background-color: rgb(17, 182, 113);
    } 
 .info-foto { 
    grid-area: 1 / 1 / 2 / 2;     
    display: inline-block;
    height: 100%;
    background-image: url("../../../../assets/clinica.jpeg");   
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    -moz-background-size: 100% 100%; /*Firefox 3.6*/
    -o-background-size: 100% 100%; /*opera*/
    -webkit-background-size: 100% 100%; /*Safari*/
    background-size: 100% 100%; /*estandar css3*/   
}
.box{    
    grid-area: 1 / 2 / 2 / 4;
}
 .tittlecontainer{
    display: flex;
    justify-content: center;
    margin-bottom:30px ;
 }


h1{
    text-align: center;    
    font-size: 60px; 
    margin-top:20px;
    
}
  
  


.info-grid { 
    grid-area: 1 / 1 / 2 / 3; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    
}

p{
    font-size: 150%;
    color: white;
}
img{
    
    width:100%;
    
}
