

<div class="exterior"> 
    <div class="carrousel-container">
        
        <div class="interiorInfo">            
            <h1 class="hover-underline-animation " >Guarderia</h1>
            <div class="infoCarrousel"></div>
            <p>
                We and our partners store and/or access information on a device, such as cookies and process personal data,
                 such as unique identifiers and standard information sent by a device for personalised ads and content, ad and
                  content measurement, and audience insights, as well as to develop and improve products. With your permission
                   we and our partners may use precise geolocation data and identification through device scanning. 
            </p>
                 
        </div>        
        <div class="imgInterior">            
        </div>
    </div>  
</div>
   