
<div class="maincontainer">
    <div class="info-foto">
        
    </div>   
    <div class="box">
        <div class="info-grid">   
            <div class="tittlecontainer">
                <h1 class="hover-underline-animation">Macetas</h1>
            </div>     
            <p>Viveros y Centro de Bonsái El Valle nace en 1990 como
            una empresa dedicada exclusivamente al arte del bonsái 
            en cualquiera de sus variedades, desde el tratamiento de
            los prebonsái hasta el resultado final.</p> 
    
            <p>El Valle es la primera empresa del Archipiélago Canario 
            dedicada a los árboles en miniatura y su experiencia, lo 
            mismo que la calidad de sus productos y la seriedad en el
            trabajo con los árboles o las clases que imparte le han valido 
            el reconocimiento de aficionados y profesionales.</p>
        </div>
        
        
    </div>
    
        
    
    
</div>