<mat-toolbar> 
    <span class="hover-underline-animation iniciospan" ><a routerLink='/inicio'>  <img src="../../../assets/logo_blanco.svg">Inicio </a></span>  
    <span class="hover-underline-animation" ><a routerLink='/bonsais'> Bonsais  </a></span>  
    <span class="hover-underline-animation" ><a routerLink='/productos'> Productos  </a></span>  
    <span class="hover-underline-animation" ><a routerLink='/servicios'> Servicios  </a></span>  
    <span class="hover-underline-animation" ><a routerLink='/galeria'> Galeria  </a></span>  
    <span class="hover-underline-animation" ><a routerLink='/sobreNosotros'> Sobre Nosotros  </a></span>  

 </mat-toolbar> 