<app-hacia-arriba></app-hacia-arriba>
<div class="maincontainer">       
    <div class="box">
        <div class="horarioTittle" >
            <h1 class="hover-underline-animation-black">Horario</h1>
        </div>
        
        <div class="horario">        
           

           <table>
            <tr>
                <td>Juves</td>
                <td>9:00</td>
                <td>17:00</td>
            </tr>
            <tr>
                <td>Viernes</td>
                <td>9:00</td>
                <td>17:00</td>
            </tr>
            <tr>
                <td>Sabado</td>
                <td>9:00</td>
                <td>13:00</td>
            </tr>
           </table>
        </div>
        <div class="contactoTittle">
            <h1 class="hover-underline-animation-black">Contactanos</h1>

        </div>
        <div class="contacto">
            
            <table>
                <tr>
                    <td class="iconaling">
                        <mat-icon>phone</mat-icon>
                        Teléfono 
                    </td>
                    <td> <a href="tel:+34928621418">928 62 14 18</a></td>
                   
                </tr>
                <tr>
                    <td  class="iconaling">
                        <mat-icon>mail</mat-icon>
                        Correo electronico 
                    </td>
                    <td>   
                    info@bonsaielvalle.com                 
                    </td>    
                </tr>
                
            </table>
        </div>
    </div>
    
</div>