
 .maincontainer{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin:0px;
 }
 .tittlecontainer{
    display: flex;
    justify-content: center;
 }


  h1{
    text-align: center;    
    font-size: 60px; 
    margin-top:20px;
    
 }
  
  

.box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
}
.info-grid { 
    grid-area: 1 / 1 / 2 / 3; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    
}
.info-foto { 
    grid-area: 1 / 3 / 2 / 4; 
    
    display: inline-block;
   
}
p{
    font-size: 150%;
}
img{
    border-radius: 10px;
    width:100%;
    
}
