<section>
    <div class="tittlecontainer">
        <h1 class="hover-underline-animation">¿Donde estamos?</h1>
    </div>
    
    <div>
        <img class="shadow" src="../../../../assets/EntradaVivero.png" alt="">
        <iframe  class="shadow" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4187.0457508626905!2d-15.559993411285554!3d28.05893990830376!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x84e05e4c10f6c16b!2sCentro%20de%20bonsai%20El%20Valle!5e0!3m2!1ses!2ses!4v1668855420621!5m2!1ses!2ses"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="map-description">
        <p>
            It is a long established fact that a reader will be distracted by the readable content o
            f a page when looking at its layout. The point of using Lorem Ipsum is that it has a 
            more-or-less normal distribution of letters, as opposed to using 'Content here, content 
            here', making it look like readable English. Many desktop publishing packages and 
            web page editors now use Lorem Ipsum as their default model text
        </p>

    </div>

</section>
